
<div class="container">
  <h1><%= "Bars for #{params[:city].capitalize}"  %></h1>
<div class="row">
  <% @bars.each do |bar| %>
<div class="card" style="width: 20rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= bar.name %></h5>
    <p class="card-text"><%= bar.description%></p>
    <a href="#" class="btn btn-primary">Book It</a>
  </div>
</div>
<% end %>
  </div>
</div>
