

<div class="container">
    <h1>Select the date </h1>
    <%= simple_form_for([@bar, @reservation]) do |f| %>
    <%= f.input :date %>
    <%= f.submit class: "btn btn-primary"%>
    <% end %>
</div>