h1 {
    font-size: 50px;
    font-family: 'Knewave', cursive;
    margin-bottom: 30px;
}

.img{
    height: 190px;
}


body {
    padding-top: 90px;
}



.buttons {
    display: flex;
    justify-content: space-between;
}

#map {
    margin-bottom: 70px;
    width: 100%; 
    height: 600px; 
    margin-top: 30px;
   
    box-shadow: 1px 2px 2px black;
}

.average-text {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    top: 150px; right: -35px;
    background-color: white;
    border: 2px black dotted;
    transition: background-color 1s;

}


.average-number {
    vertical-align: middle;
    margin-top: 22px;
    margin-left: 8px;
    
}

.card {
    position: relative;
    border: 1px black solid;
}
