.bar-card {
        background: #fff;
        border-radius: 4px;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
        max-width: 400px;
        // display: flex;
        // flex-direction: row;
        border-radius: 25px;
        position: relative;
        height: 150px;
        width: 500px;
        margin-bottom: 15px;
        text-align: center;
        vertical-align: middle;       
}

.card:hover {
  background-color: #08DBB6;
}


.back_to_search{
  background-color: 08dbb6;
}
