
<h1>Reviews#new</h1>

<%= simple_form_for([@bar, @review]) do |r| %>
  <%= r.input_field :content %>
  <%= r.input :rating, collection: Review::RATING, include_blank: false %>
  <%= r.submit %>
<% end %>
