
<h1>Reviews#new</h1>

@review = Review.new

<%= simple_form_for(@review) do |r| %>
  <%= r.input :review %>
  <%= r.input :rating, collection: Review::RATING, include_blank: false %>
  <%= r.submit %>
<% end %>
