<div class="container">
<h1>Let a review</h1>

<%= simple_form_for([@bar, @review]) do |r| %>
  <%= r.input :content %>
  <%= r.input :rating, collection: Review::RATING, include_blank: false %>
  <%= r.submit class: "btn btn-primary color_home"%>
<% end %>

</div>

